.about-container {
    max-width: 800px;
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
    line-height: 1.6;
    color: #ffffff; 
  }
  
  .about-container h2 {
    margin-bottom: 10px;
    font-size: 1.8rem;
    color: #da279e; 
  }
  
  .back-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #000000;
    color: #f32fc9;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 8px 4px 8px rgba(255, 255, 255, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .back-button:hover {
    background-color: #777;
    transform: scale(1.05);
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: url('assets/ab.gif') no-repeat center center fixed;
    background-size: cover; 
    color: #ffffff; 
    background-color: #000000;
    font-family: Arial, sans-serif;
    overflow: hidden;
  }  