header {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.neon-text {
  font-family: "Arial", sans-serif;
  text-align: center;
  margin: 0;
}

.neon-text .line:first-child {
  font-size: 4rem;
  color: #ce91bb;
  text-shadow: 0 0 5px #df60aa, 0 0 10px hsl(335, 67%, 60%),
    0 0 20px hsl(335, 67%, 60%), 0 0 40px hsl(335, 67%, 60%),
    0 0 80px rgb(98, 117, 180);
  animation: neon-flicker 1.5s infinite alternate;
}

.neon-text .line:last-child {
  font-size: 5rem;
  color: #7fc6e0;
  text-shadow: 0 0 5px #2dcaff, 0 0 10px #2dcaff, 0 0 20px #2dcaff,
    0 0 40px #2dcaff, 0 0 80px #2dcaff;
  animation: neon-flicker 1.5s infinite alternate;
}

#cameraSelect {
  margin: 10px 0;
  padding: 10px;
  border: 2px solid #7fc6e0;
  border-radius: 5px;
  background-color: #f5f5f5;
  color: #333;
  font-size: 1rem;
  width: 100%;
  max-width: 400px;
}

#testCameraButton {
  padding: 10px 20px;
  background-color: #7fc6e0;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-bottom: 20px;
}

#testCameraButton:hover {
  background-color: #4fa0c9;
  transform: scale(1.05);
}

#videoPreviewContainer {
  position: relative;
  width: 700px;
  max-width: 1000px;
  height: 600px;
  margin: auto;
  border: 5px solid #ce91bb;
  border-radius: 10px;
  overflow: hidden;
  transform: scaleX(-1);
}

#videoPreview,
#poseCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#poseCanvas {
  pointer-events: none;
}

.back-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #000000;
  color: #f32fc9;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 8px 4px 8px rgba(255, 255, 255, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.back-button:hover {
  background-color: #777;
  transform: scale(1.05);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  color: #ffffff;
  background-color: #000000;
  font-family: Arial, sans-serif;
}

.navbar button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #000000;
  color: #ba1493;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 8px 4px 8px rgba(255, 255, 255, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.navbar button:hover {
  background-color: #a1a0a3;
}
