.container {
  display: flex;
  width: 100%;
  height: 100vh;
  margin: 0;
}

.half {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

#videoPreviewContainer {
  width: 100%;
  max-width: 500px;
  height: auto;
  aspect-ratio: 4 / 3;
  border: 3px solid #ce91bb;
  border-radius: 10px;
  overflow: hidden;
}

#gameContainer {
  width: 100%;
  max-width: 400px;
  height: 600px;
  border: 3px solid #7fc6e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: Arial, sans-serif;
}

#game-container {
  display: flex;
  align-items: center;
}

canvas {
  border: 1px solid white;
}

#scoreboard {
  margin-left: 20px;
  text-align: center;
}

#scoreboard h1 {
  font-size: 24px;
}

#scoreboard p {
  font-size: 32px;
  font-weight: bold;
}

.back-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #000000;
  color: #f32fc9;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 8px 4px 8px rgba(255, 255, 255, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}
